@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 3em;
  background-color: #363636;
}
h1 {
  text-align: center;
  color: rgb(250, 248, 246);
  font-size: 40px;
}
